<section id="carousel-section">
    <h2>Image Carousel</h2>
    <div class="carousel" #carousel>
      <div class="carousel-item">
        <img src="../../assets/necklace.jpg" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="../../assets/necklaces2.jpg" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="path/to/image3.jpg" alt="Image 3">
      </div>
      <!-- Add more carousel items here -->
    </div>
    <button (click)="nextSlide()">Next</button>
    <button (click)="prevSlide()">Previous</button>
  </section>
  
